/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf');
}
:root {
    --color-background: #fff;
    --color-text: #000;
    --color-link: #130730;
    --color-link-hover: #250b64;
    --color-link-hover-2: #acdde2;
}
body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 20px;
    font-family: Roboto, sans-serif;
}
h1 { font-size: 2.5em; text-align: center; }
a { color: var(--color-link); text-decoration: none; font-weight: normal; transition: 0.5s; }
a:hover { color: var(--color-link-hover); transition: 0.3s; }
footer { background: var(--color-link); color: var(--color-background); padding: 2vh 0 4vh 0; }

.l-top { height: 50vh; padding-top: 5vh; }
.l-center { margin: 0 auto; }
.l-left { margin: 0 auto 0 0 }
.l-right { margin: 0 0 0 auto }
.l-alt { width: 60% }
.l-space { margin-top: 2em; margin-bottom: 2em; }

.little-title { font-size: 1.5em; margin-bottom: 0.5em; }
.navbar { background: var(--color-link); padding: 4vh 0;}
.navbar-item {
    color: var(--color-background);
    font-size: 1.5em;
    text-transform: uppercase;
    margin-left: 1.66em;
}
.navbar-item:hover { color: var(--color-link-hover-2); }
.navbar-item--first { margin-left: 4em; }
.content { width: 80%; margin: 0 auto; }
.content-text { text-align: justify; line-height: 1.25em; }
.footer-title { font-size: 1.5em; font-weight: 300; margin-bottom: 0.5em; }
.footer-link { color: var(--color-background); display: block; }
.footer-link:hover { color: var(--color-background); }
.footer--link { color: var(--color-background); text-decoration: underline; }
.footer--link:hover { color: var(--color-link-hover-2); }
.footer-text { font-size: 0.75em; }
.footer--license { margin: 1em 0 2em 0; }
.col { width: 80%; margin: 0 auto; }
.col-content { display: inline-block; text-align: center; }
.col1 { width: 20% }
.col2 { width: 50% }
.col3 { width: 20% }

.is-selected { color: var(--color-link-hover-2); }