@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf');
}
:root {
    --color-background: #0D1011;
    --color-text: #fff;
    --color-header: #191C1D;
    --color-link: #3ABED9;
    --color-link-hover: #269fb8;
    --color-subtitles: #BDD1D5;
}
body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 25px;
}

.button {
    text-decoration: none;
    color: var(--color-text);
    padding: 0.6ex 2.5ex;
    border-radius: 31px;
    border: 4px solid var(--color-link);
    font-size: 1.4em;
    margin-top: 1em;
    background-color: none;
    transition: 0.5s;
}
.button:hover {
    /*animation-name: button;
    animation-duration: 1s;*/
    background-color: var(--color-link);
    color: var(--color-background);
    transition: 0.5s;
}
.intro {
    margin-top: 17vh;
}
.subtitles {
    margin: 0;
    color: var(--color-subtitles);
    font-size: 25px;
    text-align: center;
}
a {
    color: var(--color-link);
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    transition: 0.3s;
    color: var(--color-link-hover);
}

header {
    position: fixed;
    display: inline-block;
    width: 10vw;
    height: 100vh;
    background-color: var(--color-header);
}
header nav {
    margin-top: 25vh;
}
header nav a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-text);
    margin-bottom: 40px;
    font-family: SegoeUI;
}
.content {
    display: inline-block;
    margin-left: 20vw;
    font-family: OpenSans;
    width: 75vw;
}
.content h1 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1.4em;
}
.content .who {
    margin-left: 50vw;
    width: 500px;
}
.content .who h2 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

.content section {
    display: inline-block;
    width: 24vw;
    margin-top: 5vh;
}
section h3 {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
}
section p {
    text-align: center;
    margin: 5px 0;
}
section img {
    margin-left: 6vw;
    border-radius: 25px;
}

footer {
    display: none;
}
footer {
    position: fixed;
    top: 95vh;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: var(--color-header);
}
footer nav {
    margin-top: 0.5vh;
}
footer nav a {
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
    margin-left: 3vw;
    font-size: 1em;
    width: auto;
    color: var(--color-text);
    font-family: SegoeUI;
    text-decoration: none;
}


@keyframes button {
    0% {
        background-color: none;
        color: var(--color-text);
    }
    100% {
        background-color: var(--color-link);
        color: var(--color-background);
    }
}