@import "colors";
@import "mixins";
@import "responsiveness/breakpoints";

.card {
  display: block;
  background: rgba($light-black, 0.85);
  width: 90%;
  @include until($desktop) {
    width: auto;
  }
  border-radius: 5px;
  box-shadow: 20px 15px 5px rgba($darker-black, 0.15);
  &-header {

  }
  &-image {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 5px 5px 0 0;
  }
  &-content {
    padding: 1rem;
  }
  &-description {
    font-size: 1.1rem;
    line-height: 1.5rem;
    & p {
      margin: 1.2rem 0;
    }
  }
}