/* Basics */
$white : #fff;
$black : #211F20;

/* Variation */
$light-black : #3C393B;
$lighter-black : #514D50;
$dark-black : #151414;
$darker-black : #000;

/* Alternative */
$green : #0CE8B1;
$green-light : #6EF7D5;

/* Special colors */
$link : #E9A5C1;
$success : #14A734;
$failed : #A61414;
$warning : #ffcc00;

/* Defaults */
$default-text : $white;
$default-bg : $black;
