@import "colors";
@import "mixins";

.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: $dark-black;
  display: flex;
  flex-direction: column;
  @include center;
  gap: 1rem;
  &-item {
    margin: 0;
  }
}