@import "colors";
@import "spacing/index";
@import "responsiveness/breakpoints";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: $default-bg;
    color: $default-text;
}

a {
    color: $link;
    text-decoration: none;
}
