@import "colors";
@import "spacing/index";
@import "responsiveness/breakpoints";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: $default-bg;
    color: $default-text;
    @include until($small-phone) {
        font-size: 16px;
    }
    @include until($old-phone) {
        font-size: 15px;
    }
}

a {
    color: $link;
    text-decoration: none;
    &:hover {
        color: transparent($link, .75);
    }
}

p {
    margin: 2rem 0;
}

.section, section {
    margin: 5rem 0;
}

.is-hidden {
    /*animation-duration: 1s;*/
    /*animation-name: disappearBottom;*/
    transform: translateY(200px);
    @include until($phone) {
        transform: translateY(-25%);
    }
    opacity: 0;
    &-top {
        animation-duration: .2s;
        animation-name: disappearTop;
        transform: translateY(-100px);
    }
}

.is-appear {
    animation-duration: .75s;
    animation-name: appearBottom;
    display: inherit;
    &-top {
        animation-duration: .2s;
        animation-name: appearTop;
        display: inherit;
    }
}

@keyframes disappearTop {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
        display: none!important;
    }
}

@keyframes appearTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappearBottom {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(150px);
        display: none!important;
    }
}

@keyframes appearBottom {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
