/* Creator: Bulma Team */
@mixin arrow($color: transparent){
  border: 3px solid $color;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

@function transparent($color, $alpha: 1){
  @return transparentize($color, calc(1 - $alpha));
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin right {
  display: block;
  text-align: right;
  justify-content: right;
}

@mixin left {
  display: block;
  text-align: left;
  justify-content: left;
}

@mixin until($breakpoint){
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin from($breakpoint){
  @media (min-width: $breakpoint) {
    @content;
  }
}
