@import "colors";
@import "mixins";
.navbar {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  & * {
    height: 64px;
  }
  &-link {
    display: inline-block;
    color: $default-text;
    width: 10rem;
    text-transform: uppercase;
    height: 64px;
    vertical-align: middle;
    line-height: 64px;
    text-align: center;
    transition: .2s;
    &:hover {
      color: $link;
      transition: .2s;
    }
  }
}
