@import "../colors";
@import "../mixins";

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  &.is-1 {
    @include center;
    &.is-not-centered {
      @include left;
    }
  }
}
.subtitle {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  position: relative;
  top: -2rem;
}
.center {
  @include center;
}

.is-title-reveal {
  overflow-inline: clip;
  animation-duration: 2s;
  animation-name: appearBottom;
  opacity: 1;
  @keyframes appearBottom {
    from {
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
