@import "../responsiveness/breakpoints";
@import "../mixins";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  gap: 1rem;
  @include until($desktop) {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
  @include until($phone) {
    display: flex;
    flex-direction: column;
    @include center;
    gap: 2rem;
  }
}
.row {
  width: 90%;
  text-align: center;
  margin-bottom: 1.5rem;
  @include until($desktop) {
    height: 50px;
  }
}

.project-list {
  @extend .grid;
  @include from($phone) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
  & project-card {
    @extend .mb-4;
  }
}