@import "../mixins";
@import "../responsiveness/breakpoints";

@for $i from 0 through 12 {
  $dist : calc((100vw/12)*$i);
  .p-#{$i} {
    margin-left: $dist;
    @include until($desktop) {
      margin: 0 2rem;
    }
    @include until($phone) {
      margin-left: 1rem!important;
      margin-right: 1rem!important;
    }
  }
  .p-max-#{$i} {
    margin-right: $dist;
    @include until($desktop) {
      margin-right: 0;
    }
  }
}
