---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Communication - Anhgelus Morhtuuzh"
  description="Je suis neurodivergent, j'ai donc quelques particularités, notamment au niveau de la communication"
  image="img/skills.webp"
  url="c/"
  raw
>
  <main>
    <p>
      Je suis <a
        href="https://en.wikipedia.org/wiki/Neurodiversity"
        target="_blank">neurodivergent</a
      >, j'ai donc quelques particularités, notamment au niveau de la
      communication.
    </p>
    <p>Cette page a pour objectif d'améliorer notre communication.</p>
    <h2>Comment je m'exprime</h2>
    <p>Je ne m'exprime pas comme tout le monde.</p>
    <p>
      Je suis souvent <em>trop</em> direct et brute. J'exprime directement et clairement
      mes idées. Si quelque chose me fait chier, je l'annonce sans prendre les pincettes
      nécessaires. Cela ne veut pas dire que je ne vous apprécie pas ou que je vous
      insulte, c'est juste ma manière de m'exprimer.
    </p>
    <p>
      On me décrit souvent comme lourd, inapproprié et étant buté (notamment
      concernant l'informatique et la politique où mes prises de position sont
      très souvent virulentes). Cela ne veut pas dire que je vous en veux ou que
      je vous trouve stupide, c'est juste ma manière de m'exprimer.
    </p>
    <p>
      Je peux très facilement rester bloquer à cause d'une de vos positions
      imprécises, notamment un mot mal utilisé ou hautement imprécis. Chaque mot
      possède un sens et j'ai <em>besoin</em> de m'attacher au sens des mots pour
      comprendre précisément votre position. Cela ne veut pas dire que je cherche
      la petite bête, c'est juste ma manière de m'exprimer.
    </p>
    <h2>Comment communiquer efficacement avec moi</h2>
    <p>Je ne comprends pas les mêmes choses que vous.</p>
    <p>
      Exprimez vous clairement sans utiliser de sous-entendu ou d'implicite et
      allez droit au but. Souvent, je ne les comprendrais pas et je les
      interpréterais de la pire des manières.
    </p>
    <p>
      Utilisez des emojis si vous souhaitez exprimer une émotion. Avec le temps,
      je commence à comprendre ce qu'ils signifient, donc utilisez-les à votre
      avantage !
    </p>
    <p>
      MAIS n'utilisez pas des emojis d'une manière ambigüe ou non
      traditionnelle. Je vais juste mal les comprendre et je risque de les
      interpréter de la pire des manières.
    </p>
    <p>
      Exprimez clairement ce qui vous dérange chez moi. Sinon je ne vais jamais
      en avoir conscience et je ne pourrais pas essayer de m'améliorer.
    </p>
    <p>
      Ma compréhension de l'humour est aléatoire. Évitez le second degré, le
      sarcasme et l'irone non évidente. Je vais juste mal les comprendre et je
      risque de les interpréter de la pire des manières.
    </p>
    <h2>Pourquoi tout cela ?</h2>
    <p>
      Ce petit guide vise à améliorer et à simplifier mes difficiles relations
      avec autrui.
    </p>
    <p>
      En tant que neurodivergent, je m'exprime étrangement et j'ai énormément de
      mal à comprendre de nombreuses informations évidentes pour les
      neurotypiques (les personnes "normales" n'ayant pas d'handicape⋅s
      psychologique⋅s).
    </p>
    <p>
      Vous pouvez trouver tout cela barbant, étrange ou étonnant, mais dans tous
      les cas je ne peux pas y faire grand chose. Ces difficultés ne proviennent
      en aucun cas de ma volonté. <a
        href="https://en.wikipedia.org/wiki/Masking_(personality)"
        target="_blank">Essayer de les cacher</a
      > me prend une énergie effroyable que je n'ai pas sur Internet.
    </p>
  </main>
</Layout>
