---
import Layout from '../layouts/Layout.astro';
import Project from "../components/Project.astro";
---

<Layout title="Anhgelus Morhtuuzh">
    <header class="header__title" data-scroll-section>
        <h1 data-scroll data-scroll-speed="-2">Anhgelus Morhtuuzh</h1>
        <h3 data-scroll>Créateur producteur développeur</h3>
    </header>
    <main class="" data-scroll-section>
        <div class="project">
            <Project image="https://architects-land.anhgelus.world/static/terre-des-civilisations/background.webp" title="Architects Land" />
            <Project image="https://loremflickr.com/1280/720" title="Projet 2" />
            <Project image="https://loremflickr.com/1920/1080" title="Projet 3" />
            <Project image="https://loremflickr.com/900/800" title="Projet 4" />
        </div>
    </main>
</Layout>

<script>
    document.querySelectorAll("[data-project]").forEach(el => {
        console.log(el)
        el.addEventListener("mouseenter", (e) => {
            el.classList.add("active")
        })
        el.addEventListener("mouseleave", (e) => {
            el.classList.remove("active")
        })
    })
</script>
