---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="Anhgelus Morhtuuzh"
  description="Portfolio de Anhgelus Morhtuuzh, créateur, producteur et développeur"
  image="img/skills.webp"
  url=""
>
  <header>
    <h1>William Hergès</h1>
    <p class="no-mb">Étudiant en informatique, en philosophie et en mathématiques</p>
  </header>
  <main>
    <p></p>
  </main>
</Layout>

<script defer is:inline></script>
