---
import {Image} from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="Anhgelus Morhtuuzh"
  description="Portfolio de Anhgelus Morhtuuzh, créateur, producteur et développeur"
  image="img/skills.webp"
  url=""
>
  <header>
    <h1 class="no-mb">William Hergès</h1>
    <p class="no-mb">Étudiant en informatique, en philosophie et en mathématiques.</p>
  </header>
  <main>
    <div>
      <h2>Qui suis-je&thinsp;?</h2>
      <p>
        Dans ce monde changeant frénétiquement, j'ai décidé de réfléchir avant d'agir. Je ne suis
        pas un <em>tech bro</em>, je préfère questionner la technologie avant de l'adopter.
      </p>
      <p>
        Je critique énormément les dérives du monde numérique, que ça soit <a
        href="https://youtu.be/iW0LiIMYqrU">la manipulation des masses</a
      >, <a href="https://blog.anhgelus.world/notre-monde-est-mort-et-cest-chatgpt-qui-la-tue/"
      >la déshumanisation des relations</a
      > ou <a
        href="https://next.ink/187576/les-consommations-gargantuesques-des-geants-du-net-en-eau-et-electricite/"
      >l'aggravation du désastre écologique en cours</a>. Je défends des solutions durables et
        fiables fondamentalement opposées au modèle des GAFAM&thinsp;: je promeus les
        <em>low-tech</em>, la philosophie du libre et l'indépendance technologique. Tous mes
        projets sont conçus avec cet objectif en tête&thinsp;: ils sont <a
        href="https://github.com/anhgelus">open-source</a> et réutilisables par tous.
      </p>
      <p>
        La philosophie me sert à questionner notre relation aux choses pour montrer qu'elles ne sont
        pas si évidentes et si immuables que ça. Prendre conscience de cette relativité possibilise
        la création d'un nouveau future, d'une nouvelle utopie redonnant espoir.
      </p>
      <p>
        L'informatique, et plus généralement mon éducation scientifique, me permet de comprendre les
        enjeux techniques liés à mon idéal. Construire un numérique sain est un défi extrêmement
        complexe m'intéressant particulièrement.
      </p>
    </div>
    <p>Bonjour</p>
    <div>
      <h2>Mon parcours universitaire</h2>
      <p>
        Je suis actuellement en <a
        href="https://sciences.sorbonne-universite.fr/formation-sciences/offre-de-formation/licences/doubles-cursus-et-doubles-licences-sciences-et-1"
      >double licence Sciences-Philosophie</a> à <a href="https://www.sorbonne-universite.fr/"
      >Sorbonne Université</a>, avec l'informatique comme discipline scientifique. Ce double cursus
        se déroule à la faculté des Sciences (ex Paris-VI, UPMC) et à la faculté des Lettres (ex
        Paris-IV, Paris-Sorbonne). Je prévois de passer ma troisième année à <a
        href="https://www.uio.no/english/">UiO</a>, en Norvège.
      </p>
      <p>
        J'ai passé ma première année dans l'enseignement supérieur dans le <a
        href="https://psl.eu/formation/cpes-psl-henri-IV">CPES Sciences</a> de <a
        href="https://psl.eu/">PSL</a> et du <a href="https://lycee-henri4.com/">Lycée Henri-IV</a>.
        Cette formation pluridisciplinaire intensive mélangeant cursus universitaire et cycle
        préparatoire m'a permis d'obtenir des fondements solides en sciences (mathématiques,
        physique, chimie et biologie) et en lettres (philosophie, lettres, anglais littéraires,
        anglais appliqués).
      </p>
      <p>
        J'ai obtenu mon baccalauréat avec la mention Très Bien, euro anglais. J'ai suivi les
        spécialités mathématiques et physique-chimie et l'option mathématiques expertes.
      </p>
    </div>
    <p>bonjour</p>
  </main>
</Layout>

<script defer>
  document.querySelectorAll("a").forEach((e) => {
    if (!e.href.startsWith(window.location.origin)) {
      e.target = "_blank";
    }
  });
</script>
