---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Anhgelus Morhtuuzh">
    <header class="mx-2 relative h-screen" data-scroll-section>
        <h1 class="text-8xl font-semibold absolute bottom-4" data-scroll>Créateur<br>producteur<br>développeur.</h1>
        <div class="text-center pt-48">
            <h2 class="text-8xl font-bold" data-scroll data-scroll-speed="-2">Anhgelus Morhtuuzh</h2>
            <!--<h4 class="text-4xl mt-4">créateur de contenu unique</h4>-->
        </div>
        <div class="absolute bottom-4 right-0 flex gap-4" data-scroll>
            <Card target="a" title="Bonsoir"/>
            <Card target="a" title="Bonjour"/>
        </div>
    </header>
    <main class="mx-2">
        Mollitia est id nam provident. Qui qui modi et dolorum. Saepe culpa nihil possimus recusandae sed et hic nobis. Veniam reprehenderit libero cupiditate et occaecati ratione et repellendus. Dolores et magni vitae soluta quas laborum impedit. Et incidunt ullam occaecati.

        Vel sapiente omnis qui cumque ut qui. Nulla rerum maiores tempore. Sit enim culpa asperiores expedita atque totam nulla. Eligendi ipsam enim voluptas repellendus sit officia. Et delectus explicabo mollitia unde. Nesciunt autem labore similique quam.

        Officiis rerum et nobis in sint minima. Harum odio cumque accusantium quis quo est rem. Fugit expedita enim hic voluptate voluptatibus nostrum suscipit. Praesentium explicabo aut voluptatum.

        Pariatur quo laborum assumenda doloremque veritatis rerum. Omnis animi maxime ut autem ut. Mollitia esse perspiciatis inventore illo blanditiis consequatur. Ut consectetur iste ut ipsum eos consequatur et.

        Voluptas mollitia temporibus fugit dolorem quam voluptas maxime omnis. Autem consequatur earum dolore ipsum est. Accusamus praesentium ab accusamus ut. Et dolorum impedit esse dolores. Soluta reprehenderit voluptatibus dolorem minima distinctio aut ipsa. Ab nesciunt consequatur sapiente non.
    </main>
</Layout>
