---
import Layout from '../layouts/Layout.astro';
import Project from "../components/Project.astro";
---

<Layout title="Anhgelus Morhtuuzh">
    <header class="header__title" data-scroll-section>
        <h1 data-scroll data-scroll-speed="-2">Anhgelus Morhtuuzh</h1>
        <h4 data-scroll>Créateur producteur développeur</h4>
    </header>
    <main class="" data-scroll-section>
        <div class="project">
            <Project image="https://architects-land.anhgelus.world/static/terre-des-civilisations/background.webp" title="Architects Land" />
            <Project image="https://loremflickr.com/1280/720" title="Projet 2" />
            <Project image="https://loremflickr.com/1920/1080" title="Projet 3" />
            <Project image="https://loremflickr.com/900/800" title="Projet 4" />
        </div>
        <div class="skills">
            <div class="skills__image"></div>
            <div class="skills__text">
                <h4>Compétences</h4>
                <p>
                    J'ai débuté la création de sites webs à 13 ans.
                </p>
                <p>
                    Sauf que sans backend, on ne fait pas grand chose. Le PHP s'est rapidement imposé à moi pour mes
                    premiers sites dynamiques.
                </p>
                <p>
                    En 2020, j'ai appris le Java et le Go pour construire de nouvelles applications toujours plus
                    réactives et complexes.
                </p>
                <p>
                    L'année d'après, j'ai testé Kotlin qui m'a convaincu par son sucre-syntaxique et son intégration à la
                    JVM.
                </p>
                <p>
                    Écrire de l'HTML et du CSS devient rapidement un travail rébarbatif. Je me suis donc plongé dans les
                    différents framework JS/TS comme Svelte, Solid ou Vue pour construire des frontend plus rapidement.
                </p>
                <p>
                    Je parle aussi anglais, je sais gérer des équipes d'une dizaine de personne ainsi que des projets de
                    toutes tailles.
                </p>
            </div>
        </div>
    </main>
</Layout>

<script>
    document.querySelectorAll("[data-project]").forEach(el => {
        console.log(el)
        el.addEventListener("mouseenter", (e) => {
            el.classList.add("active")
        })
        el.addEventListener("mouseleave", (e) => {
            el.classList.remove("active")
        })
    })
</script>
