---
import {Image} from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="Anhgelus Morhtuuzh"
  description="Portfolio de Anhgelus Morhtuuzh, créateur, producteur et développeur"
  image="img/skills.webp"
  url=""
>
  <header>
    <h1 class="no-mb">William Hergès</h1>
    <p class="no-mb">Étudiant en informatique, en philosophie et en mathématiques.</p>
  </header>
  <main>
    <div class="text">
      <h2>Qui suis-je&thinsp;?</h2>
      <p>
        Dans ce monde changeant frénétiquement, j'ai décidé de réfléchir avant d'agir. Je ne suis
        pas un <em>tech bro</em>, je préfère questionner la technologie avant de l'adopter.
      </p>
      <p>
        Je critique énormément les dérives du monde numérique, que ça soit <a
        href="https://youtu.be/iW0LiIMYqrU">la manipulation des masses</a
      >, <a href="https://blog.anhgelus.world/notre-monde-est-mort-et-cest-chatgpt-qui-la-tue/"
      >la déshumanisation des relations</a
      > ou <a
        href="https://next.ink/187576/les-consommations-gargantuesques-des-geants-du-net-en-eau-et-electricite/"
      >l'aggravation du désastre écologique en cours</a>. Je défends des solutions durables et
        fiables fondamentalement opposées au modèle des GAFAM&thinsp;: je promeus les
        <em>low-tech</em>, la philosophie du libre et l'indépendance technologique. Tous mes
        projets sont conçus avec cet objectif en tête&thinsp;: ils sont <a
        href="https://github.com/anhgelus">open-source</a> et réutilisables par tous.
      </p>
      <p>
        La philosophie me sert à questionner notre relation aux choses pour montrer qu'elles ne sont
        pas si évidentes et si immuables que ça. Prendre conscience de cette relativité possibilise
        la création d'un nouveau future, d'une nouvelle utopie redonnant espoir.
      </p>
      <p>
        L'informatique, et plus généralement mon éducation scientifique, me permet de comprendre les
        enjeux techniques liés à mon idéal. Construire un numérique sain est un défi extrêmement
        complexe m'intéressant particulièrement.
      </p>
    </div>
    <p>Bonjour</p>
    <div class="text">
      <h2>Mon parcours universitaire</h2>
      <p>
        Je suis actuellement en <a
        href="https://sciences.sorbonne-universite.fr/formation-sciences/offre-de-formation/licences/doubles-cursus-et-doubles-licences-sciences-et-1"
      >double licence Sciences-Philosophie</a> à <a href="https://www.sorbonne-universite.fr/"
      >Sorbonne Université</a>, avec l'informatique comme discipline scientifique. Ce double cursus
        se déroule à la faculté des Sciences (ex Paris-VI, UPMC) et à la faculté des Lettres (ex
        Paris-IV, Paris-Sorbonne). Je prévois de passer ma troisième année à <a
        href="https://www.uio.no/english/">UiO</a>, en Norvège.
      </p>
      <p>
        J'ai passé ma première année dans l'enseignement supérieur dans le <a
        href="https://psl.eu/formation/cpes-psl-henri-IV">CPES Sciences</a> de <a
        href="https://psl.eu/">PSL</a> et du <a href="https://lycee-henri4.com/">Lycée Henri-IV</a>.
        Cette formation pluridisciplinaire intensive mélangeant cursus universitaire et cycle
        préparatoire m'a permis d'obtenir des fondements solides en sciences (mathématiques,
        physique, chimie et biologie) et en lettres (philosophie, lettres, anglais littéraires et
        appliqués).
      </p>
      <p>
        J'ai obtenu mon baccalauréat avec la mention Très Bien, Euro Anglais. J'ai suivi les
        spécialités mathématiques et physique-chimie et l'option mathématiques expertes.
      </p>
    </div>
    <div class="study__logos">
      <img src="/img/logo/sorbonne-universite.svg" alt="Logo de Sorbonne Université">
      <img src="/img/logo/psl.svg" alt="Logo de PSL" style="background: #fff; padding: 5%;">
      <img src="/img/logo/henri-iv.jpg" alt="Logo du Lycée Henri-IV">
    </div>
    <div class="text">
      <h2>Mes projets</h2>
      <p>
        J'ai appris le développement pour modifier Minecraft. Maintenant, je crée des langages de
        programmation et des interpréteurs formelles d'expressions mathématiques.
      </p>
      <p>
        Je travaille majoritairement avec des langages compilés, comme Go, Java ou Kotlin. Je
        maîtrise les technologies du web (je préfère les sites statics et le SSR), je sais écrire en
        LaTeX et j'ai des bases en C et en Python.
      </p>
    </div>
    <div></div>
    <div class="text">
      <h3>Plank</h3>
      <p>
        <a href="https://github.com/planklang">Plank</a> est un langage de programmation décrivant
        des plots comme ceux générés par <a href="https://matplotlib.org/">Matplotlib</a>. Il vise à
        être simple, clair, direct, intuitif et modulaire.
      </p>
      <p>
        Ce projet nous demande d'être rigoureux dans la conception formelle du langage pour éviter
        les erreurs d'interprétation et les incohérences.
      </p>
      <p>
        <a href="https://github.com/planklang/goplank">goplank</a> est la première implémentation de
        Plank. Elle est écrite en Go. Cela nous permet d'appréhender la structure d'une
        implémentation classique de Plank avant de réécrire la base commune en C pour pouvoir
        l'interfacer partout.
      </p>
    </div>
    <div></div>
    <div class="text">
      <h3>GoMath</h3>
      <p>
        <a href="https://github.com/nyttikord/gomath">GoMath</a> est une library Go interprétant des
        expressions mathématiques. Elle a été créée pour <a href="https://github.com/nyttikord"
      >Nyttikord</a>.
      </p>
      <p>
        GoMath est une calculatrice avec une précision presque infinie (la seule limite étant la RAM
        disponible). Elle n'utilise pas les floatants, évitant ainsi les erreurs de précision, et
        peut convertir n'importe quelle expression en LaTeX.
      </p>
      <p>
        Pour l'instant, GoMath ne supporte pas les expressions formelles. Notre objectif est de les
        supporter à terme.
      </p>
    </div>
    <div></div>
    <div class="text">
      <h3>Nyttikord</h3>
      <p>
        <a href="https://github.com/nyttikord">Nyttikord</a> est un groupe de développeur créant des
        bots <a href="https://discord.com/">Discord</a>. Notre objectif est de concevoir des
        applications open-sources, performantes et innovantes pour répondre à différents besoins.
      </p>
      <p>
        <a href="https://github.com/nyttikord/nerdkord">Nerdkord</a> est un bot permettant de faire
        des mathématiques sur Discord. Il intègre <a href="https://github.com/nyttikord/gomath"
      >GoMath</a> et permet de faire des rendus LaTeX directement depuis Discord.
      </p>
      <p>
        Nous avons d'autres idées en tête, mais le temps nous manque pour les concrétiser.
      </p>
    </div>
    <div></div>
    <div class="text">
      <h3>Architects Land</h3>
    </div>
    <div></div>
    <div class="text">
      <h3>arnaudvalentin.com</h3>
    </div>
    <div></div>
    <div class="text">
      <h3>entreesortie.net</h3>
    </div>
    <div></div>
    <div class="text">
      <h3>La FaBrick</h3>
    </div>
    <div></div>
    <div class="text">
      <h3>Now</h3>
    </div>
    <div></div>
    <div class="text">
      <h3>anhgelus' blog</h3>
    </div>
    <div></div>
    <div class="text">
      <h3>Sysadmin</h3>
    </div>
    <div></div>
    <div class="text">
      <p>
        Mon <a href="https://github.com/anhgelus">GitHub</a> contient une liste complète de mes
        anciens projets.
      </p>
    </div>
    <div></div>
    <div class="text">
      <h2>Me contacter</h2>
      <p>
        Je vous invite à m'envoyer un email à <a
        href="mailto:me@anhgelus.world">me@anhgelus.world</a>.
      </p>
      <p>
        Si vous souhaitez collaborer avec moi pour un projet Minecraft, rejoignez <a
        href="https://discord.gg/EBHRv8Wcqc">mon serveur Discord</a>.
      </p>
    </div>
    <div></div>
  </main>
</Layout>

<script defer>
  document.querySelectorAll("a").forEach((e) => {
    if (!e.href.startsWith(window.location.origin)) {
      e.target = "_blank";
    }
  });
</script>
