---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="Anhgelus Morhtuuzh"
  description="Portfolio de Anhgelus Morhtuuzh, créateur, producteur et développeur"
  image="img/skills.webp"
  url=""
  raw=`${false}`
>
  <header class="header__title" data-scroll-section>
    <h1 data-scroll data-scroll-speed="-2">Anhgelus Morhtuuzh</h1>
    <h4 data-scroll>Créateur producteur développeur</h4>
  </header>
  <main class="" data-scroll-section>
    <div class="project">
      <Project
        image="/img/license-generator.jpg"
        title="License Generator"
        white
      >
        <h2>Application CLI</h2>
        <p>
          <a
            href="https://github.com/anhgelus/license-generator"
            target="_blank">License Generator</a
          > est une application CLI s'occupant de créer les fichiers licences pour
          des projets open source. Cette application a été développée en Go 1.21.
        </p>
        <h3>Configuration</h3>
        <p>
          Cette application est configurable à l'aide de fichier TOML spécifié
          dynamiquement ou dans un dossier spécifique. Le TOML est un format
          facilement lisible pour les humains et facilement utilisable en Go à
          l'aide des nombreuses library déjà présentes.
        </p>
      </Project>
      <Project image="/img/architects-land.webp" title="Architects Land" white>
        <h2>Serveur Minecraft</h2>
        <p>
          <a href="https://architects-land.anhgelus.world/" target="_blank"
            >Architects Land</a
          > est un serveur Minecraft privé réunissant plus d'une dizaine de joueurs.
          Ce serveur a pour particularité d'utiliser des mods uniques créés pour
          l'occasion comme
          <a
            href="https://modrinth.com/mod/difficulty-death-scaler"
            target="_blank">Difficulty Death Scaler</a
          >
          ou <a
            href="https://modrinth.com/mod/sneaky-player-names"
            target="_blank">Sneaky Player Names</a
          >.
        </p>
        <h3>Mods</h3>
        <p>
          Les mods créés pour Architects Land sont tous open-source et
          disponible sur Modrinth, une plateforme respectueuse et open-source
          dédiée à Minecraft. Ils ont tous été développés en Java 21 avec Gradle
          pour Fabric, un mod loader.
        </p>
        <h3>Site web</h3>
        <p>
          Le site web d'Architects Land sert de vitrine au serveur pour recruter
          des nouveaux joueurs ainsi que de source d'information. D'abord codé
          avec le framework frontend SolidJS, le site a été entièrement recodé
          en Go 1.23 pour améliorer sa réactivité, ses performances ainsi que
          son SEO.
        </p>
      </Project>
      <Project image="/img/molehunt.jpg" title="Molehunt" white>
        <h2>Mode de jeu</h2>
        <p>
          Le <a href="https://modrinth.com/mod/molehunt-mod" target="_blank"
            >Molehunt</a
          > est un mode de jeu Minecraft très récent. Chaque joueur est anonyme et
          appartient à un camp : les moles (taupes en français) ou les survivants.
          Les moles doivent tuer tous les autres joueurs avant la fin de la partie.
        </p>
        <h3>Mod</h3>
        <p>
          J'ai créé ce mod car aucun mod n'était disponible sur Modrinth. Ce mod
          permet de simplifier l'expérience de jeu. En effet, il s'occupe de la
          gestion du temps, des bordures, du nombre de taupes et de
          l'anonymisation des joueurs.
        </p>
        <p>
          Ce mod est totalement personnalisable à l'aide d'un fichier de config
          et des gamerules présentes en jeu. Pour garantir une cohérence entre
          les différentes configurations, le mod envoie des packets
          personnalisés aux joueurs pour synchroniser l'affichage des skins et
          des nametags par exemple.
        </p>
        <p>
          Le mod a été codé en Java 21 avec Gradle pour Fabric, un mod loader.
        </p>
        <h3>Wiki</h3>
        <p>
          Comme ce mod est très personnalisable, j'ai créé un wiki pour
          faciliter son utilisation. Il fonctionne à l'aide de Writerside (de
          Jetbrains) et est hébergé sur GitHub Pages.
        </p>
      </Project>
      <Project
        image="/img/arnaudvalentin.com.jpg"
        title="Arnaud Valentin"
        white
      >
        <h2>Site web</h2>
        <p>
          <a href="https://arnaudvalentin.com/" target="_blank"
            >arnaudvalentin.com</a
          > est le site vitrine d'une voix-off. Le site a été réalisé en moins de
          6 heures avec du TS vanilla, du SCSS et Bulma.
        </p>
      </Project>
      <Project image="/img/la-fabrick.eu.jpg" title="La FaBrick" white>
        <h2>Organisation</h2>
        <p>
          La FaBrick est une organisation créant des événements sur Minecraft.
          Ils travaillent avec de nombreux influenceurs comme <a
            href="https://www.youtube.com/@RoiLouisMC"
            target="_blank">Roi-Louis</a
          >,
          <a href="https://www.youtube.com/@Goldawn" target="_blank">Goldawn</a>
          ou
          <a href="https://www.twitch.tv/martinponk" target="_blank"
            >MartinPonk</a
          >.
        </p>
        <h3>Mon rôle</h3>
        <p>
          Je travaillais chez eux en tant que Lead developer Java et web. J'ai
          notamment mis à jour leur site web et rajouté le responsive. J'ai
          aussi géré l'équipe responsable du plugin derrière leur événement
          "Ball Of Steals - Star Wars".
        </p>
      </Project>
      <Project image="/img/les-copaings-bot.jpg" title="Les Copaings Bot" white>
        <h2>Bot Discord</h2>
        <p>
          <a href="https://github.com/anhgelus/les-copaings-bot"
            >Les Copaings Bot</a
          > est un bot Discord conçu pour mon serveur Discord privé. Il rajoute un
          système d'XP unique ainsi que de nombreuses fonctionnalités présentes dans
          d'autres bot Discord.
        </p>
        <h3>Système d'XP</h3>
        <p>
          Le système d'XP est totalement unique. Pour gagner de l'XP, les
          membres doivent envoyer des messages ou être connecté dans un salon
          vocal. Plus les messages sont long et plus ils comportent de caractère
          différent, plus le message génère beaucoup d'XP.
        </p>
        <p>
          Si un membre est inactif, c'est-à-dire qu'il ne parle pas ou qu'il
          n'utilise pas de commande, il perd automatiquement de l'XP. Cela
          permet de garder un classement des membres actifs.
        </p>
        <h3>Fonctionnement</h3>
        <p>
          Le bot est codé en Go 1.23 et repose sur
          <a href="https://github.com/anhgelus/gokord" target="_blank">Gokord</a
          >, ma library. Le code derrière est complexe puisqu'il a été conçu
          pour gérer des très gros bots. Il permet entre autre de mettre à jour
          automatiquement les slashs commands d'un bot après une mise-à-jour.
        </p>
        <p>
          J'ai publié une <a href="https://youtu.be/cRcLyhhcab8" target="_blank"
            >vidéo</a
          > parlant de la création de ce bot.
        </p>
      </Project>
    </div>
    <div class="skills">
      <div class="skills__image"></div>
      <div class="skills__text">
        <h3>Compétences</h3>
        <p>J'ai débuté la création de sites webs à 13 ans.</p>
        <p>
          Sauf que sans backend, on ne fait pas grand chose. Le PHP s'est
          rapidement imposé à moi pour mes premiers sites dynamiques.
        </p>
        <p>
          En 2020, j'ai appris le Java et le Go pour construire de nouvelles
          applications toujours plus réactives et complexes.
        </p>
        <p>
          L'année d'après, j'ai testé Kotlin qui m'a convaincu par son
          sucre-syntaxique et son intégration à la JVM.
        </p>
        <p>
          Écrire de l'HTML et du CSS devint rapidement un travail rébarbatif. Je
          me suis donc plongé dans les différents framework JS/TS comme Svelte,
          SolidJS ou VueJS pour construire des frontend plus rapidement.
        </p>
        <p>
          Je parle aussi anglais, je sais gérer des équipes d'une dizaine de
          personne ainsi que des projets de toutes tailles.
        </p>
      </div>
    </div>
    <div class="schools">
      <h2>Formations</h2>
      <div class="schools__item">
        <p>
          J'ai obtenu mon baccalauréat mention très bien euro anglais avec les
          spécialités mathématiques et physique ainsi que l'option mathématiques
          expertes.
        </p>
        <Image
          src="/img/study.webp"
          alt="Image d'un sac à dossur une table avec un ordinateur et un cahier. Photo par Aaron Burden pour Unsplash."
          width="256"
          height="256"
        />
      </div>
      <div class="schools__item">
        <Image
          src="/img/logo/henri-iv.jpg"
          alt="Logo du Lycée Henri-IV. Tous droits réservés au Lycée Henri-IV."
          width="256"
          height="256"
        />
        <p>
          J'ai passé ma première année dans l'enseignement supérieur dans le
          <a href="https://psl.eu/formation/cpes-psl-henri-IV" target="_blank"
            >CPES Sciences</a
          >
          d'<a href="https://lycee-henri4.com/" target="_blank">Henri IV</a> et de
          <a href="https://psl.eu/" target="_blank">PSL</a>. J'y ai suivi des
          cours scientifiques (mathématiques, physique et, chimie) exigeants et
          des cours de philosophie, de lettres et d'anglais de haut niveau.
        </p>
      </div>
      <div class="schools__item">
        <p>
          A la fin de cette année, j'ai décidé de me réorienter pour me
          concentrer sur mes deux passions : l'informatique et la philosophie.
          J'ai ainsi intégré la
          <a
            href="https://sciences.sorbonne-universite.fr/formation-sciences/offre-de-formation/licences/doubles-cursus-et-doubles-licences-sciences-et-1"
            target="_blank"
          >
            double licence Sciences-Philosophie</a
          > de <a href="https://www.sorbonne-universite.fr/" target="_blank"
            >Sorbonne-Université</a
          >.
        </p>
        <Image
          src="/img/logo/sorbonne-universite.svg"
          alt="Logo de Sorbonne Université. Tous droits réservés à Sorbonne Université."
          width="256"
          height="256"
        />
      </div>
    </div>
    <div class="contact">
      <h2>Contact</h2>
      <p>
        N'hésitez pas à me contacter via mon adresse mail : <a
          href="mailto:me@anhgelus.world">me@anhgelus.world</a
        >.
      </p>
      <p>
        Vous pouvez aussi regarder <a
          href="https://github.com/anhgelus"
          target="_blank">ma page GitHub</a
        > pour contribuer à mes différents projets open-source !
      </p>
      <p>
        Si vous souhaitez participer à un de mes évènements, rejoignez mon
        serveur Discord <a href="https://discord.gg/EBHRv8Wcqc" target="_blank"
          >anhgelus.world</a
        >.
      </p>
    </div>
  </main>
  <footer>
    <p>
      Site web créé par William Hergès à l'aide d'<a
        href="https://astro.build/"
        target="_blank">Astro</a
      >,
      <a href="https://sass-lang.com/" target="_blank">SCSS</a> et
      <a href="https://catppuccin.com/" target="_blank">Catppuccin</a>.
    </p>
    <p>
      <a href="https://github.com/anhgelus" target="_blank">GitHub</a> et <a
        href="/legal/">Mentions légales</a
      >
    </p>
    <p>
      Code source sous licence AGPL-3.0-only &copy; 2024 William Hergès. <br />
      Contenu sous licence CC BY-SA-NC 4.0 &copy; 2024 William Hergès.
    </p>
  </footer>
</Layout>

<script defer>
  const projects = document.querySelectorAll("[data-project]");
  let scrollDisabled = false;
  let x = 0;
  let y = 0;
  window.addEventListener("popstate", (e) => {
    if (
      !window.location.href.endsWith("#") &&
      !window.location.href.endsWith("#")
    )
      return;
    projects.forEach((el) => {
      el.classList.remove("project--active");
      scrollDisabled = false;
    });
  });
  document.addEventListener("click", (e) => {
    projects.forEach((el) => {
      if (!el.classList.contains("project--active")) return;
      if (!(e.target instanceof HTMLElement)) return;
      const element = e.target;
      if (element.classList.contains("project--active")) {
        element.classList.remove("project--active");
        element.classList.add("project--deactivate");
        scrollDisabled = false;
        history.pushState({}, "", "#");
      }
    });
  });
  projects.forEach((el) => {
    el.addEventListener("click", (e) => {
      el.classList.add("project--active");
      el.classList.remove("project--deactivate");
      scrollDisabled = true;
      x = window.scrollX;
      y = window.scrollY;
      history.pushState({}, "", "#" + el.getAttribute("data-project"));
    });
  });
  document.addEventListener("scroll", (e) => {
    if (scrollDisabled) window.scrollTo(x, y);
  });
</script>
