---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Anhgelus Morhtuuzh">
    <header class="mx-2 relative h-screen" data-scroll-section>
        <h1 class="text-6xl xl:text-8xl absolute bottom-4" data-scroll>Créateur<br>producteur<br>développeur.</h1>
        <div class="text-center pt-16">
            <h2 class="text-8xl font-bold" data-scroll data-scroll-speed="-2">Anhgelus Morhtuuzh</h2>
            <!--<h4 class="text-4xl mt-4">créateur de contenu unique</h4>-->
        </div>
        <div class="absolute bottom-4 right-0 flex gap-4" data-scroll>
            <Card target="a" title="Bonsoir"/>
            <Card target="a" title="Bonjour"/>
        </div>
    </header>
    <main class="" data-scroll-section>
        <div class="w-screen h-screen bg-black text-gray-300 flex justify-center flex-col" data-scroll>
            <h3 data-scroll data-scroll-speed="2" class="text-gray-200 text-center text-2xl xl:text-3xl">Créateur</h3>
            <div class="text-center text-lg xl:text-xl flex flex-col justify-center gap-2" data-scroll data-scroll-speed="2">
                <p>
                    je m'efforce d'imaginer, de concevoir et de créer <br>
                    de nouveaux concepts novateurs.
                </p>
            </div>
        </div>
    </main>
</Layout>
