---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="Anhgelus Morhtuuzh"
  description="Portfolio de Anhgelus Morhtuuzh, créateur, producteur et développeur"
  image="img/skills.webp"
  url=""
>
  <header class="header__title" data-scroll-section>
    <h1 data-scroll data-scroll-speed="-2">William Hergès</h1>
    <h3 data-scroll>Hello</h4>
  </header>
  <main class="" data-scroll-section></main>
</Layout>

<script defer is:inline></script>
