---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Mentions Légales - Anhgelus Morhtuuzh"
  description="Mentions Légales des sites d'Anhgelus Morthuuzh"
  image="img/skills.webp"
  url="legal/"
  raw
>
  <main data-scroll-section>
    <h2>Mentions Légales</h2>
    <p>
      Tous les sites webs présent sur un sous-domaine de anhgelus.world (e.g.
      blog.anhgelus.world, www.anhgelus.world) ("sites") suivent ces mentions
      légales.
    </p>
    <h3>Propriétés</h3>
    <p>
      Le propriétaire de ces sites est M. WILLIAM HERGÈS dont l'adresse mail est <a
        href="mailto:me@anhgelus.world">me@anhgelus.world</a
      >.
    </p>
    <p>
      Le contenu des sites est protégé par la licence CC BY-SA-NC 4.0, sauf
      mention contraire. <br />
      Le code source des sites est protégé par la licence AGPL-3.0-or-later, sauf
      mention contraire.
    </p>
    <p>
      Chaque auteur⋅rice d'une image est crédité⋅e dans le texte alternatif de
      l'image. Si il/elle n'est pas crédité⋅e, cela indique que l'image
      appartient au propriétaire du site.<br />
      L'auteur de l'image en arrière plan de la partie compétence est <a
        href="https://unsplash.com/photos/turned-on-gray-laptop-computer-XJXWbfSo2f0"
        target="_blank">Lucas Bravo</a
      >.
    </p>
    <h3>Hébergement</h3>
    <p>L'hébergement de ces sites webs sont assurés par :</p>
    <ul>
      <li>
        <a href="https://github.com/" target="_blank">GitHub, Inc</a> (pour www.anhgelus.world)
      </li>
      <li>
        <a href="https://infomaniak.com/" target="_blank"
          >Infomaniak Network SA</a
        > (pour l'ensemble des autres sites)
      </li>
    </ul>
    <p>
      Le propriétaire et l'hébergeur du site ne pourront être tenu comme
      responsable si le site ne s'aurait être accessible.
    </p>
    <h3>Vie privée</h3>
    <p>
      Les cookies utilisés par nos sites sont obligatoires : ils servent
      uniquement au bon fonctionnement et non au tracking, à la publicité ciblée
      ou toute autre utilisation n'altérant pas la fonctionnalité du site.
    </p>
    <p>
      Tous les sites utilisent le reverse-proxy géré par <a
        href="https://cloudflare.com/"
        target="_blank">CloudFlare</a
      >, cela permet de les protéger face à d'éventuel DDoS.
    </p>
    <p>
      Nous récupérons uniquement votre adresse IP que nous stockons pendant 1 an
      pour des raisons légales.
    </p>
    <p>Vous avez :</p>
    <ul>
      <li>le droit de modifier ces données</li>
      <li>le droit d'accéder à ces données</li>
      <li>le droit de supprimer en partie ou totalement ces données</li>
    </ul>
    <p>
      Pour exercer vos droits, envoyez un mail à <a
        href="mailto:me@anhgelus.world">me@anhgelus.world</a
      > contenant votre demande.
    </p>
    <p>
      Nous utilisons l'outil d'analyse Matomo n'identifiant pas les
      utilisateurs. Cet outil n'est pas désactivable puisqu'il n'identifie pas
      l'utilisateur.
    </p>
  </main>
</Layout>
