@import "../colors";

.schools-diploma {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 2fr 3fr 2fr;
  grid-auto-columns: 1fr;
  & .box {
    &.done {
      background: $green-light;
    }
    background: $light-black;
    height: 0.25vh;
    border-radius: 25px;
  }
  & p {
    margin: 0 5%;
    text-align: center;
  }
}