@import "../colors";

.schools-info {
  display: block;
  background: $dark-black;
  border-radius: 5px;
  padding: 1em 0;
  box-shadow: 12px 10px 5px rgba($darker-black, 0.15);
  & .title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    @extend .is-4;
  }
  & .subtitle {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 0.25em;
    top: 0;
  }
  & .content {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
    & p {
      margin: 1rem 0;
    }
  }
}