@import "../colors";

.schools-info {
  display: block;
  background: $dark-black;
  border-radius: 5px;
  & .title {
    text-align: center;
    font-weight: 600;
    padding-top: 1em;
    @extend .is-4;
  }
  & .subtitle {
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.25em;
    padding-bottom: 1em;
  }
  & .content {
    padding: 1vh 3vw;
  }
}