---
import { getColor } from "../color";
interface Props {
  href: string,
  content: string,
  primary: boolean,
  secondary: boolean,
}
const {href, content, primary, secondary} = Astro.props
const colorStyle = getColor(primary, secondary)
---
<div class=`text-black`>
  <a href={href} class=`${colorStyle} rounded-md px-4 py-2 my-4 text-xl font-semibold`>{content}</a>
</div>
