---
interface Props {
	title: string;
	target: string;
}

const { target, title} = Astro.props;
---

<div class="flex bg-amber-400 w-96 h-48 rounded-md p-4 content-center items-center" data-card-target={target}>
	<h2 class="text-2xl text-center w-2/3">{title}</h2>
	<img src="/arrow.svg" alt="arrow" class="mx-auto w-6"/>
</div>

<script>
	import {scrollTo} from "../scroll";
	document.querySelectorAll("[data-card-target]").forEach((el) => {
		el.addEventListener("click", () => {
			const target = el.getAttribute("data-card-target");
			const query = document.querySelector(target) as HTMLElement;
			if (query) {
				scrollTo(query);
				return
			}
			window.open(target, '_blank').focus();
		})
	})
</script>
