---
interface Props {
    title: string
    image: string
}

const {title, image} = Astro.props
---
<div class=`project__item` data-project style=`background-image: url(${image}); backdrop-filter: blur(40px) brightness(80%);`>
    <div class="project__content">
        <h2 class="project__title">{title}</h2>
    </div>
</div>
<style lang="scss">

</style>