@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.bg-glass {
  background: rgba(2, 6, 23, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(49, 46, 129, 0.06);
}

.bg-light-glass {
  background: rgba(2, 6, 23, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(49, 46, 129, 0.06);
}

.bg-hardened-glass {
  background: rgba(2, 6, 23, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(49, 46, 129, 0.06);
}

.h-screen-half {
  height: 50vh;
}

.divider {
  display: block;
  height:  2rem;
  width: 100%;
  background: #0f172a;
}
