$bp-wide: 1200px;
$bp-mid: 800px;
$bp-small: 600px;
$bp-tiny: 450px;

$default: 2rem;
$default-gap: 1rem;
@media only screen and (max-width: $bp-wide) {
  $default-gap: 2rem;
}

$border-radius: $default;
$border-radius--hover: 0.5rem;

$darker: #151c20;
$dark: #243036;
$third: #72917a;
$accent: #96c1a1;
$text: #cad2c5;
