$bp-wide: 1200px;
$bp-mid: 800px;
$bp-small: 600px;
$bp-tiny: 450px;

$default: 2rem;
$default-gap: 1rem;
@media only screen and (max-width: $bp-wide) {
  $default-gap: 2rem;
}

$border-radius: $default;
$border-radius--hover: 0.5rem;

$darker: #2F3E46;
$dark: #354F52;
$third: #52796F;
$accent: #84A98C;
$text: #CAD2C5;
