$bp-wide: 1200px;
$bp-mid: 800px;
$bp-small: 600px;
$bp-tiny: 450px;

$default: 2rem;
$default-gap: 1rem;
@media only screen and (max-width: $bp-wide) {
  $default-gap: 2rem;
}

$border-radius: $default;
$border-radius--hover: 0.5rem;
